
body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
}

.middle-container{
}

.bottom-container{
}

h1{
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem; /* or 5.625em also, 100% = 16px = 1em */
   color: #66BFBF;
   line-height: 2rem;
}

h2{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2rem;
}

h3{
    
    font-family: 'Montserrat', sans-serif;
}

.bottom-cloud{
    position: absolute;
    left: 700px;
    bottom: 400px;
}
.top-cloud{
    position:absolute;
    right: 700px;
    top: 50px;
}

